html,
body {
    font-family: 'Monda', sans-serif;
}

button {
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/* nav bar style */

#nav-bar {
    height: 60px;
    width: 100%;
    font-size: 20px;
}

.nav-background {
    background-image: url("/website-images/hero.jpg");
    background-size: cover;
}


.nav-left {
    float: left;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: #d05d76;
}

.nav-right {
    float: right;
    padding-right: 20px;
    font-size: 17px;
}

#nav-bar li {
    float: left;
    padding: 15px 10px;
}

#nav-bar ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

#nav-bar li a:hover {
    cursor: pointer;
}

/* Hero image style */

.hero {
    background-image: url("/website-images/hero.jpg");
    /*    background: url("http://tokyographicdesigners.com/wp-content/uploads/2015/09/lowpoly-bgk1.jpg");*/
    background-size: cover;
    height: 70vh;
    text-align: center;
    color: white;
}

header {
    padding: 100px 0 20px 0;
    font-family: 'Megrim', cursive;
    font-size: 85px;
    font-weight: bolder;
}

.hero p {
    text-align: center;
    font-size: 20px;
}

.hero h4 {
    font-family: 'Monda', sans-serif;
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 30px;
}

.hero-signup-button {
    width: 300px;
    height: 40px;
    margin: 25px 0 0 0;
    font-size: 20px;
    font-family: 'Monda', sans-serif;
    color: #d05d76;
    background-color: white;
}

.hero-signup p {
    margin-top: 0;
    font-size: 15px;
}

/* Feature section style */

.feature-heading {
    text-align: center;
    font-size: 30px;
    padding: 100px;
}

.features {
    /*
    max-width: 1000px;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
*/
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 150px;
}

.feature-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 10px;
    margin: 0 auto;
}

.feature-container i {
    font-size: 80px;
    padding: 25px;
    display: inline-block;
    color: #8C4B76
}

.feature-description {
    padding: 5px 16px;
}

.feature-description h4 {
    padding: 10px 0;
    color: #d05d76;
    font-size: 20px;
}

/* Sign Up  and Log In section */

.signup-section,
.login-section {
    width: 400px;
    margin: 100px auto;
    background: white;
    /*    padding: 10px;*/
    /*    border: 2px solid black;*/
}

.signup-section p,
.login-section p {
    text-align: center;

}

.signup-heading,
.login-heading {
    font-size: 30px;
    color: #d05d76;
    padding-bottom: 50px;
}

.signup-button,
.login-button {
    /*border: 2px solid #d05d76;*/
    color: white;
    display: block;
    margin: 30px auto;
    width: 250px;
    padding: 8px;
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    /*background-color: #02558B;
    background-color: #14A098;
    background-color: rgba(126, 80, 148, 1.9);
    background-color: #8C4B76;*/
    background-color: #d05d76;
}

input[type=text],
input[type=password] {
    width: 100%;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    padding: 10px 0 10px 10px;
    margin: 5px 10px 20px 0;
}

fieldset {
    border: none;
}

/*

#signup-screen,
#login-screen {
    width: 80%;
    margin: 0 auto;
}
*/

/* Sign Up section style */

.singup-screen-login-button,
.login-screen-signup-button {
    color: #d05d76;
}

.demo-info {
    margin-top: 10px;
}

/* User dashboard */

.user-dashboard {
    /*    padding-top: 30px;*/
    /*    border: 2px solid black;*/
    margin: 50px auto;
}

.newuser-msg {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.add-habit span {
    padding: 5px;
    font-size: 20px;
}

.add-habit {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.habit-container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Add habit button style */

.add-habit-button {
    /*background: url(website-images/icons/plus-icon.svg);*/
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: #d05d76;
}

.add-habit-button:hover {
    color: #d05d76;
    background-color: white;
    border: 2px solid #d05d76;
}

/* habit list */

.habit-container {
    max-width: 90%;
    padding: 0px;
    margin: 40px auto;
    /*    border: 1px solid rgb(140, 75, 118);*/
    border: 1px solid rgb(235, 152, 150);
    border-radius: 5px;
}

.habit-name {
    /*    background-color: rgb(140, 75, 118);*/
    background-color: rgb(227, 124, 133);
    background-color: rgb(235, 152, 150)
    /*    background-color: #d05d76;*/
    font-size: 20px;
    padding: 10px 0 5px 10px;
    display: flex;
}

.habit-name h4 {
    margin: 0;
    color: white;
}

.habit-name p {
    font-size: 15px;
}

.habit-name i {
    color: gold;
    font-size: 20px;
    padding: 5px;
}

.habit-title,
.habit-edit-bar {
    width: 100%;
}

.habit-edit-bar i {
    color: white;
}

.habit-edit-bar {
    /*    width: auto;*/
    /*    background-color: rgb(140, 75, 118);*/
    overflow: auto;
}

.habit-edit-bar a span {
    display: block;
    font-size: 10px;

}

.habit-edit-bar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 5px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.habit-edit-bar a i:hover {
    transform: scale(1.2);
    background-color: white;
    color: #d05d76;
    border-radius: 50%;
}

/* notes style */

.habit-notes {
    /*    float: left;*/
    width: 90%;
    height: auto;
    overflow: auto;
    min-height: 150px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
}

.notes-handle span {
    color: #d05d76;
}

.notes-content-js {
    padding: 5px;
}

/* Notes and milestones style */

.add-notes-button span,
.add-milestones-button span {
    display: block;
    padding: 10px;
}

.add-notes-button:hover,
.add-milestones-button:hover {
    color: #14A098;
}

.add-notes-button i,
.add-milestones-button i {
    font-size: 20px;
}

.notes-delete,
.notes-save,
.milestones-delete,
.milestones-save {
    float: right;
    padding: 5px;
}

.notes-handle,
.milestones-handle {
    border-bottom: 1px solid #d9d9d9;
    padding: 5px;
}

.note-milestone-container {
    padding: 20px 10px;
    height: auto;
    overflow: auto;
}

.notes-container,
.milestone-container {

    /*    display: flex;*/
    margin: auto;
    width: 50%;
    display: inline-block;
}

/* Milestones style */

.habit-milestones {
    width: 90%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
    /*    float: right;*/
    min-height: 150px;
    max-height: 300px;
    overflow: auto;
}

.milestone-container {
    float: right;
}

#milestonesItems li {
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    list-style-type: none;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#habit-milestones-js .milestoneInput {
    width: 80%;
    margin-left: 5px;
    width: 80%;
    padding: 5px;
}

#milestonesItems li:hover {
    background: #eee;
}

.milestone-item.checked {
    color: #888;
    text-decoration: line-through;
}

#milestonesItems label {
    padding-left: 5px;
}

.delete-milestone-item {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 16px 5px 16px;
}

.notes-save:hover,
.delete-milestone-item:hover {
    transform: scale(1.2);
    color: #d05d76;
}

.milestone-title {
    color: #d05d76;
    padding: 5px;
    display: block;
}

.milestones-header {
    padding: 5px;
}

.milestone-add-button:hover {
    color: #d05d76;
    transform: scale(1.2);
}

/*

#milestonesItems li.checked::before {
    content: '';
    position: absolute;
    border-color: #888;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 13px;
    transform: rotate(45deg);
    height: 12px;
    width: 5px;
}
*/

/*
.habit-notes-wrapper {
    overflow: hidden;
}
*/

/*
.habit-notes {
    float: left;
}
*/

/* style for Weekday inputs  Habit Add Form */

.habit-form {
    /*
    width: 700px;
    border: 2px solid black;
*/
    padding: 20px;
    margin: 50px auto;
    /*    height: 360px;*/
    height: auto;
    max-width: 80%;
}

/*
.select-day input {
    display: none;
}*/

.select-day label {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 50px;
    cursor: pointer;
}

.select-day,
.select-daytime {
    padding-bottom: 25px;
}

.select-day span,
.select-daytime span {
    display: block;
    padding-bottom: 5px;
}

#monday:checked ~ label[for="monday"],
#tuesday:checked ~ label[for="tuesday"],
#wednesday:checked ~ label[for="wednesday"],
#thursday:checked ~ label[for="thursday"],
#friday:checked ~ label[for="friday"],
#saturday:checked ~ label[for="saturday"],
#sunday:checked ~ label[for="sunday"] {
    background: #999;
    color: #fff;
}

.monday:checked ~ label[for="monday"],
.tuesday:checked ~ label[for="tuesday"],
.wednesday:checked ~ label[for="wednesday"],
.thursday:checked ~ label[for="thursday"],
.friday:checked ~ label[for="friday"],
.saturday:checked ~ label[for="saturday"],
.sunday:checked ~ label[for="sunday"] {
    background: #999;
    color: #fff;
}

.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday {
    margin: 0 3px 0 15px;
}

.label-selected {
    background: #999;
    color: #fff;
}

.select-daytime option {
    background: grey;
}

.habit-form-done,
.habit-form-cancel {
    color: white;
    float: left;
    width: 40%;
    padding: 5px;
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    background-color: #d05d76;
    margin: 0 10px;
}

.habit-edit-screen {
    height: 350px;
    padding: 20px;
    background-color: #faf7f3;
}


/* Footer style */

.footer-container {
    background-image: url("/website-images/hero.jpg");
    /*    background: url("http://tokyographicdesigners.com/wp-content/uploads/2015/09/lowpoly-bgk1.jpg") no-repeat top;*/
    height: auto;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 15px;
    color: #ecb2ab;
}

footer img {
    height: 30px;
    width: 30px;
}

.footer-container i {
    color: white;
}

.footer-container i:hover {
    color: #ecb2ab;
    border-radius: 50%;
}

/* Responsive media queries */

@media only screen and (max-width: 675px) {
    .feature-container {
        width: 100%;
        margin: 10px auto;
    }
    .feature:active {
        display: none;
    }
    header {
        font-size: 60px;
    }
    .hero h4 {
        font-size: 20px;
    }
    .notes-container,
    .milestone-container {
        display: block;
        width: 100%;
    }
    .habit-notes,
    .habit-milestones {
        float: left;
        width: 100%;
        margin: 5px auto;
    }

}

@media only screen and (max-width: 450px) {
    .feature-container {
        width: 80%;
        font-size: 16px;
    }
    .feature-heading {
        font-size: 23px;
    }
    .hero-signup-button {
        width: 200px;
        font-size: 18px;
    }
    header {
        font-size: 55px;
    }

    .signup-section,
    .login-section {
        /*        width: 70%;*/
        width: auto;
        margin: 0 auto;
        padding: 30px;
    }
    .nav-left {
        font-size: 18px;
    }

    .nav-right {
        padding-right: 5px;
        font-size: 15px;
    }

    #nav-bar li {
        padding: 15px 5px;
    }
    #nav-bar {
        height: auto;
    }
    .habit-title {
        font-size: 15px;
    }
    .habit-name i {
        font-size: 15px;
    }
    .habit-edit-bar a {
        width: 27%;
        font-size: 15px;
    }
    .habit-edit-screen {
        height: 400px;
    }
}

@media only screen and (min-width: 650px) {
    .habit-form {
        width: 700px;
        height: 360px;
    }
}
